# Cleaning and Encoding Game ID

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import sys
sys.path.append('../Scripts')

### Import Scripts

In [2]:
import box_score_functions as bfx
import scheduling_functions as sfx

### Import Files

In [3]:
all_box_scores = pd.read_csv('../Resources/2013-2020.csv')
all_games = pd.read_csv('../Resources/game_schedule_13-current.csv')

### Cleaning up the box scores

In [32]:
cleaned_box_scores = bfx.get_cleaned_box_scores(all_box_scores)

In [33]:
cleaned_box_scores.head(2)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,14.0,2.0,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,0.0,2.0,11.0,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01

In [34]:
sfx.what_is_this(cleaned_box_scores)

length : 200897
<class 'pandas.core.frame.DataFrame'>
slug                                  object
name                                  object
Team                                  object
Location                              object
Opponent                              object
Outcome                               object
seconds_played                       float64
made_field_goals                     float64
attempted_field_goals                float64
made_three_point_field_goals         float64
attempted_three_point_field_goals    float64
made_free_throws                     float64
attempted_free_throws                float64
offensive_rebounds                   float64
defensive_rebounds                   float64
assists                              float64
steals                               float64
blocks                               float64
turnovers                            float64
personal_fouls                       float64
game_score                           float64
date                                  object
dtype: object
       seconds_played  made_field_goals  attempted_field_goals  \
count   200897.000000     200897.000000          200897.000000
mean      1372.277232          3.670299               8.059518
std        642.770885          3.023112               5.649836
min          0.000000          0.000000               0.000000
25%        910.000000          1.000000               4.000000
50%       1416.000000          3.000000               7.000000
75%       1884.000000          5.000000              11.000000
max       3898.000000         24.000000              50.000000

       made_three_point_field_goals  attempted_three_point_field_goals  \
count                 200897.000000                      200897.000000
mean                       0.881910                           2.475647
std                        1.285492                           2.664410
min                        0.000000                           0.000000
25%                        0.000000                           0.000000
50%                        0.000000                           2.000000
75%                        1.000000                           4.000000
max                       14.000000                          24.000000

       made_free_throws  attempted_free_throws  offensive_rebounds  \
count     200897.000000          200897.000000       200897.000000
mean           1.650647               2.168932            0.986172
std            2.276783               2.785552            1.380716
min            0.000000               0.000000            0.000000
25%            0.000000               0.000000            0.000000
50%            1.000000               2.000000            1.000000
75%            2.000000               4.000000            1.000000
max           26.000000              39.000000           18.000000

       defensive_rebounds        assists         steals         blocks  \
count       200897.000000  200897.000000  200897.000000  200897.000000
mean             3.138434       2.154582       0.727218       0.459733
std              2.734978       2.484930       0.976820       0.848274
min              0.000000       0.000000       0.000000       0.000000
25%              1.000000       0.000000       0.000000       0.000000
50%              3.000000       1.000000       0.000000       0.000000
75%              5.000000       3.000000       1.000000       1.000000
max             23.000000      25.000000      10.000000      12.000000

           turnovers  personal_fouls     game_score
count  200897.000000   200897.000000  200897.000000
mean        1.292862        1.926470       7.617937
std         1.396002        1.468261       7.203976
min         0.000000        0.000000      -9.500000
25%         0.000000        1.000000       2.000000
50%         1.000000        2.000000       6.300000
75%         2.000000        3.000000      11.800000
max        12.000000        6.000000      56.600000

### Cleaning up the Schedules

In [4]:
encoded_schedule = sfx.get_encoded_schedule(all_games)

AttributeError: 'DataFrame' object has no attribute 'game_number'

In [36]:
encoded_schedule.head()

,date1,date2,away,home,away_team_score,home_team_score,game_number,game_id
0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84.0,94.0,0,0
1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107.0,120.0,1,1
2,2012-10-31,2012-10-30,DALLAS_MAVERICKS,LOS_ANGELES_LAKERS,99.0,91.0,2,2
3,2012-10-31,2012-10-30,INDIANA_PACERS,TORONTO_RAPTORS,90.0,88.0,3,3
4,2012-10-31,2012-10-30,DENVER_NUGGETS,PHILADELPHIA_76ERS,75.0,84.0,4,4

In [53]:
encoded_schedule.to_csv('../Resources/encoded_schedule.csv')

### Left Join Game ID's

In [37]:
# Make first encoder
encoder1 = encoded_schedule[['date1','home','game_id']].copy()
merge1_cols = ['date', 'Team','game_id1']
encoder1.columns = merge1_cols
encoder1.date = encoder1.date.astype('str')
encoder1.Team = encoder1.Team.astype('str')
encoder1.date = encoder1.date.str.strip()
encoder1.Team = encoder1.Team.str.strip()
encoder1.head(2)

         date                 Team game_id1
0  2012-10-30  CLEVELAND_CAVALIERS        0
1  2012-10-31           MIAMI_HEAT        1

In [38]:
# Make second encoder
encoder2 = encoded_schedule[['date1','away','game_id']].copy()
merge2_cols = ['date','Team','game_id2']
encoder2.columns = merge2_cols
encoder2.date = encoder2.date.astype('str')
encoder2.Team = encoder2.Team.astype('str')
encoder2.date = encoder2.date.str.strip()
encoder2.Team = encoder2.Team.str.strip()
encoder2.head(2)

         date                Team game_id2
0  2012-10-30  WASHINGTON_WIZARDS        0
1  2012-10-31      BOSTON_CELTICS        1

In [39]:
# Make second encoder
encoder3 = encoded_schedule[['date2','away','game_id']].copy()
merge3_cols = ['date','Team','game_id3']
encoder3.columns = merge3_cols
encoder3.date = encoder3.date.astype('str')
encoder3.Team = encoder3.Team.astype('str')
encoder3.date = encoder3.date.str.strip()
encoder3.Team = encoder3.Team.str.strip()
encoder3.head(2)

         date                Team game_id3
0  2012-10-29  WASHINGTON_WIZARDS        0
1  2012-10-30      BOSTON_CELTICS        1

In [40]:
encoder4 = encoded_schedule[['date2','home','game_id']].copy()
merge4_cols = ['date','Team','game_id4']
encoder4.columns = merge4_cols
encoder4.date = encoder4.date.astype('str')
encoder4.Team = encoder4.Team.astype('str')
encoder4.date = encoder4.date.str.strip()
encoder4.Team = encoder4.Team.str.strip()
encoder4.head(2)

         date                 Team game_id4
0  2012-10-29  CLEVELAND_CAVALIERS        0
1  2012-10-30           MIAMI_HEAT        1

In [41]:
cleaned_box_scores.date = cleaned_box_scores.date.astype('str')
cleaned_box_scores.Team = cleaned_box_scores.Team.astype('str')
cleaned_box_scores.date = cleaned_box_scores.date.str.strip()
cleaned_box_scores.Team = cleaned_box_scores.Team.str.strip()

In [42]:
quarter_encoded_box_scores = pd.merge(cleaned_box_scores,encoder1, on=['date','Team'], how='left')
quarter_encoded_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,2.0,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,NaN
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,2.0,11.0,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01,NaN
2,holidjr01,Jrue Holiday,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2352.0,10.0,19.0,2.0,...,0.0,2.0,10.0,2.0,0.0,1.0,1.0,24.9,2013-01-01,NaN

In [43]:
half_encoded_box_scores = pd.merge(quarter_encoded_box_scores,encoder2, on=['date','Team'], how='left')
half_encoded_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,game_id2
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,NaN,NaN
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,11.0,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01,NaN,453
2,holidjr01,Jrue Holiday,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2352.0,10.0,19.0,2.0,...,2.0,10.0,2.0,0.0,1.0,1.0,24.9,2013-01-01,NaN,NaN

In [44]:
three_q_encoded_box_scores = pd.merge(half_encoded_box_scores,encoder3, on = ['date','Team'], how='left')
three_q_encoded_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,game_id2,game_id3
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,NaN,NaN,NaN
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01,NaN,453,459
2,holidjr01,Jrue Holiday,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2352.0,10.0,19.0,2.0,...,10.0,2.0,0.0,1.0,1.0,24.9,2013-01-01,NaN,NaN,461

In [45]:
fully_encoded_box_scores = pd.merge(three_q_encoded_box_scores,encoder4, on = ['date','Team'], how='left')
fully_encoded_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,game_id2,game_id3,game_id4
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,1.0,0.0,2.0,3.0,36.5,2013-01-01,NaN,NaN,NaN,458
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,3.0,4.0,1.0,2.0,27.0,2013-01-01,NaN,453,459,NaN
2,holidjr01,Jrue Holiday,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2352.0,10.0,19.0,2.0,...,2.0,0.0,1.0,1.0,24.9,2013-01-01,NaN,NaN,461,NaN

In [54]:
fully_encoded_box_scores.to_csv('../Resources/fully_encoded_box_scores_raw.csv')

In [50]:
game_id_matrix = fully_encoded_box_scores[['game_id1','game_id2','game_id3','game_id4']].copy()

len(game_id_matrix)

202219

In [48]:
checking_for_null = game_id_matrix.dropna(axis=1, how = 'all')
len(checking_for_null)

202219

## Each Box score was assigned at least 1 game_id

In [51]:
fully_encoded_box_scores.columns

Index(['slug', 'name', 'Team', 'Location', 'Opponent', 'Outcome',
       'seconds_played', 'made_field_goals', 'attempted_field_goals',
       'made_three_point_field_goals', 'attempted_three_point_field_goals',
       'made_free_throws', 'attempted_free_throws', 'offensive_rebounds',
       'defensive_rebounds', 'assists', 'steals', 'blocks', 'turnovers',
       'personal_fouls', 'game_score', 'date', 'game_id1', 'game_id2',
       'game_id3', 'game_id4'],
      dtype='object')

In [52]:
fully_encoded_box_scores[['slug', 'name', 'Team', 'Location', 'Opponent', 'Outcome','date', 'game_id1', 'game_id2',
       'game_id3', 'game_id4']].sample(50)

,slug,name,Team,Location,Opponent,Outcome,date,game_id1,game_id2,game_id3,game_id4
99389,sefolth01,Thabo Sefolosha,ATLANTA_HAWKS,AWAY,CLEVELAND_CAVALIERS,LOSS,2016-04-11,NaN,5146,NaN,NaN
46705,thornma01,Marcus Thornton,BOSTON_CELTICS,AWAY,DALLAS_MAVERICKS,LOSS,2014-11-03,NaN,NaN,2678,NaN
1215,ellismo01,Monta Ellis,MILWAUKEE_BUCKS,HOME,PHOENIX_SUNS,WIN,2013-01-08,NaN,NaN,NaN,512
27780,bennean01,Anthony Bennett,CLEVELAND_CAVALIERS,AWAY,INDIANA_PACERS,LOSS,2013-12-31,NaN,1773,NaN,NaN
30040,youngni01,Nick Young,LOS_ANGELES_LAKERS,AWAY,PHOENIX_SUNS,LOSS,2014-01-15,1877,NaN,1886,NaN
34172,anderch01,Chris Andersen,MIAMI_HEAT,AWAY,PHOENIX_SUNS,WIN,2014-02-11,NaN,NaN,2085,NaN
5893,georgpa01,Paul George,INDIANA_PACERS,HOME,TORONTO_RAPTORS,LOSS,2013-02-08,NaN,NaN,NaN,735
87385,johnsch04,Chris Johnson,UTAH_JAZZ,AWAY,BROOKLYN_NETS,WIN,2016-01-22,NaN,NaN,4590,NaN
95312,foyera01,Randy Foye,OKLAHOMA_CITY_THUNDER,AWAY,PHILADELPHIA_76ERS,WIN,2016-03-18,NaN,4964,4973,NaN
44474,ibakase01,Serge Ibaka,OKLAHOMA_CITY_THUNDER,HOME,MEMPHIS_GRIZZLIES,LOSS,2014-04-29,NaN,NaN,NaN,2578
55262,roberbr01,Brian Roberts,CHARLOTTE_HORNETS,HOME,ORLANDO_MAGIC,LOSS,2014-12-27,NaN,3070,NaN,3076
150273,bullore01,Reggie Bullock,DETROIT_PISTONS,HOME,TORONTO_RAPTORS,LOSS,2018-03-07,NaN,NaN,NaN,7534
56312,snellto01,Tony Snell,CHICAGO_BULLS,HOME,BOSTON_CELTICS,WIN,2015-01-03,NaN,NaN,NaN,3128
2322,mahinia01,Ian Mahinmi,INDIANA_PACERS,AWAY,CHARLOTTE_BOBCATS,WIN,2013-01-15,NaN,NaN,562,NaN
24910,lopezbr01,Brook Lopez,BROOKLYN_NETS,HOME,LOS_ANGELES_CLIPPERS,WIN,2013-12-12,NaN,NaN,NaN,1639
173342,oubreke01,Kelly Oubre,PHOENIX_SUNS,AWAY,DENVER_NUGGETS,LOSS,2019-01-25,8598,NaN,8608,NaN
54474,pargoja01,Jannero Pargo,CHARLOTTE_HORNETS,HOME,DENVER_NUGGETS,WIN,2014-12-22,NaN,NaN,NaN,3041
131782,smartma01,Marcus Smart,BOSTON_CELTICS,HOME,SAN_ANTONIO_SPURS,WIN,2017-10-30,6660,NaN,NaN,NaN
50672,plumlmi01,Miles Plumlee,PHOENIX_SUNS,AWAY,DENVER_NUGGETS,LOSS,2014-11-28,NaN,NaN,2864,NaN
197248,morrima03,Marcus Morris,NEW_YORK_KNICKS,AWAY,LOS_ANGELES_CLIPPERS,LOSS,2020-01-05,NaN,9726,NaN,NaN
95530,bullore01,Reggie Bullock,DETROIT_PISTONS,HOME,BROOKLYN_NETS,WIN,2016-03-19,4972,NaN,NaN,NaN
6148,gallida01,Danilo Gallinari,DENVER_NUGGETS,AWAY,CLEVELAND_CAVALIERS,WIN,2013-02-09,NaN,NaN,753,NaN
200645,butleji01,Jimmy Butler,MIAMI_HEAT,HOME,ORLANDO_MAGIC,WIN,2020-01-27,NaN,NaN,NaN,9886
33422,blatcan01,Andray Blatche,BROOKLYN_NETS,HOME,SAN_ANTONIO_SPURS,WIN,2014-02-06,NaN,NaN,NaN,2048
89692,hillso01,Solomon Hill,INDIANA_PACERS,AWAY,ATLANTA_HAWKS,LOSS,2016-02-05,NaN,NaN,4692,NaN
4964,priceaj01,A.J. Price,WASHINGTON_WIZARDS,AWAY,MEMPHIS_GRIZZLIES,LOSS,2013-02-01,NaN,NaN,689,NaN
51282,bealbr01,Bradley Beal,WASHINGTON_WIZARDS,HOME,LOS_ANGELES_LAKERS,WIN,2014-12-03,NaN,NaN,NaN,2896
56878,jerebjo01,Jonas Jerebko,DETROIT_PISTONS,AWAY,DALLAS_MAVERICKS,WIN,2015-01-07,NaN,3153,3161,NaN
184721,powelno01,Norman Powell,TORONTO_RAPTORS,AWAY,ORLANDO_MAGIC,WIN,2019-04-21,NaN,9139,NaN,NaN
36583,walljo01,John Wall,WASHINGTON_WIZARDS,HOME,MEMPHIS_GRIZZLIES,LOSS,2014-03-03,NaN,NaN,NaN,2201
88202,greendr01,Draymond Green,GOLDEN_STATE_WARRIORS,HOME,DALLAS_MAVERICKS,WIN,2016-01-27,NaN,NaN,NaN,4633
54915,vucevni01,Nikola Vučević,ORLANDO_MAGIC,HOME,CLEVELAND_CAVALIERS,LOSS,2014-12-26,NaN,NaN,NaN,3065
26645,zelleco01,Cody Zeller,CHARLOTTE_BOBCATS,HOME,MILWAUKEE_BUCKS,WIN,2013-12-23,NaN,NaN,NaN,1719
54272,willish03,Shawne Williams,MIAMI_HEAT,HOME,BOSTON_CELTICS,WIN,2014-12-21,3035,NaN,NaN,NaN
174858,mccolcj01,CJ McCollum,PORTLAND_TRAIL_BLAZERS,HOME,MIAMI_HEAT,LOSS,2019-02-05,NaN,NaN,NaN,8683
93323,karasse01,Sergey Karasev,BROOKLYN_NETS,AWAY,MINNESOTA_TIMBERWOLVES,LOSS,2016-03-05,NaN,4863,4869,NaN
188528,wallaty01,Tyrone Wallace,ATLANTA_HAWKS,HOME,SACRAMENTO_KINGS,LOSS,2019-11-08,NaN,NaN,NaN,9311
103532,muscami01,Mike Muscala,ATLANTA_HAWKS,HOME,HOUSTON_ROCKETS,WIN,2016-11-05,5343,NaN,NaN,NaN
186330,mudiaem01,Emmanuel Mudiay,UTAH_JAZZ,AWAY,LOS_ANGELES_LAKERS,LOSS,2019-10-25,NaN,NaN,9217,NaN
50178,drumman01,Andre Drummond,DETROIT_PISTONS,HOME,LOS_ANGELES_CLIPPERS,LOSS,2014-11-26,NaN,2839,NaN,2848
55607,humphkr01,Kris Humphries,WASHINGTON_WIZARDS,AWAY,DALLAS_MAVERICKS,LOSS,2014-12-30,NaN,3095,3102,NaN
111697,hillso01,Solomon Hill,NEW_ORLEANS_PELICANS,HOME,DALLAS_MAVERICKS,WIN,2016-12-26,NaN,NaN,NaN,5726
185349,hilarne01,Nenê Hilário,HOUSTON_ROCKETS,HOME,GOLDEN_STATE_WARRIORS,WIN,2019-05-06,NaN,NaN,NaN,9167
2032,whiteja02,James White,NEW_YORK_KNICKS,HOME,NEW_ORLEANS_HORNETS,WIN,2013-01-13,547,NaN,NaN,NaN
124955,hilarne01,Nenê Hilário,HOUSTON_ROCKETS,HOME,OKLAHOMA_CITY_THUNDER,WIN,2017-03-26,6347,NaN,NaN,NaN
165605,forbebr01,Bryn Forbes,SAN_ANTONIO_SPURS,AWAY,LOS_ANGELES_LAKERS,LOSS,2018-12-05,NaN,8234,8244,NaN
70427,martike02,Kevin Martin,MINNESOTA_TIMBERWOLVES,AWAY,PORTLAND_TRAIL_BLAZERS,LOSS,2015-04-08,NaN,3790,3804,NaN
87625,hansbty01,Tyler Hansbrough,CHARLOTTE_HORNETS,HOME,NEW_YORK_KNICKS,WIN,2016-01-23,NaN,4588,NaN,4597
45412,ginobma01,Manu Ginóbili,SAN_ANTONIO_SPURS,AWAY,OKLAHOMA_CITY_THUNDER,LOSS,2014-05-25,NaN,NaN,2621,NaN
85598,linje01,Jeremy Lin,CHARLOTTE_HORNETS,AWAY,DENVER_NUGGETS,LOSS,2016-01-10,NaN,NaN,4506,NaN