# Joining Schedule with Starting Lineup

In [1]:
import pandas as pd
import numpy as np

In [2]:
encoded_schedule = pd.read_csv('../Resources/encoded_schedule.csv')
starting_lineups = pd.read_csv('../Resources/starting_lineup_2013_2020.csv')

In [3]:
encoded_schedule.head(2)

,Unnamed: 0,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
0,0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84,94,1,10
1,1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107,120,2,13

In [32]:
len(encoded_schedule[(encoded_schedule.date1=='2013-11-05') | (encoded_schedule.date1=='2013-11-04')])

7

In [33]:
encoded_schedule[(encoded_schedule.date1=='2013-11-0') | (encoded_schedule.date1=='2013-11-01')]

,Unnamed: 0,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
1331,1331,2013-11-01,2013-10-31,NEW_YORK_KNICKS,CHICAGO_BULLS,81,82,1332,1
1332,1332,2013-11-01,2013-10-31,GOLDEN_STATE_WARRIORS,LOS_ANGELES_CLIPPERS,115,126,1333,11
1333,1333,2013-11-01,2013-10-31,CLEVELAND_CAVALIERS,CHARLOTTE_BOBCATS,84,90,1334,6
1334,1334,2013-11-01,2013-10-31,NEW_ORLEANS_PELICANS,ORLANDO_MAGIC,90,110,1335,20
1335,1335,2013-11-01,2013-10-31,PHILADELPHIA_76ERS,WASHINGTON_WIZARDS,109,102,1336,7
1336,1336,2013-11-01,2013-10-31,TORONTO_RAPTORS,ATLANTA_HAWKS,95,102,1337,7
1337,1337,2013-11-01,2013-10-31,MILWAUKEE_BUCKS,BOSTON_CELTICS,105,98,1338,7

In [5]:
starting_lineups.head(2)

,Unnamed: 0,Game Date,Box Score,Team,Player1,Player2,Player3,Player4,Player5
0,0,2012-11-02,Box Score,ATL,D. Harris,A. Horford,K. Korver,J. Smith,J. Teague
1,1,2012-11-04,Box Score,ATL,A. Horford,K. Korver,D. Stevenson,J. Teague,A. Tolliver

### Check the number of unique games on ```'2013-11-04'```

In [44]:
len(starting_lineups[starting_lineups['Game Date']=='2013-11-04'])

8

In [27]:
encoded_box_scores = pd.read_csv('../Resources/encoded_box_scores.csv')

In [109]:
encoded_box_scores.head(2)

,Unnamed: 0,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id,spread
0,0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,...,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,459,5
1,1,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,...,8.0,5.0,3.0,0.0,2.0,2.0,24.0,2013-01-01,459,5

### Check the number of unique games on ```'2013-11-04'```

In [45]:
len(encoded_box_scores[encoded_box_scores.date=='2013-11-04'][['game_id']].drop_duplicates())

4

In [49]:
starting_lineups.drop(columns=['Box Score'], inplace=True)

In [149]:
starting_lineups.Team.drop_duplicates()

0        ATL
574      BOS
1148     BRK
1722     CHI
2296     CLE
2870     DAL
3444     DEN
4018     DET
4592     GSW
5166     HOU
5740     IND
6314     LAC
6888     LAL
7462     MEM
8036     MIA
8610     MIL
9184     MIN
9758     NYK
10332    OKC
10906    ORL
11480    PHI
12054    PHO
12628    POR
13202    SAC
13776    SAS
14350    TOR
14924    UTA
15498    WAS
16272    CHO
16972    NOP
Name: Team, dtype: object

In [144]:
starting_lineup_encoder = encoded_box_scores[['Team','date','game_id','Location','Outcome']].copy()
print(len(starting_lineup_encoder))
starting_lineup_encoder.drop_duplicates(inplace=True)
print(len(starting_lineup_encoder))

200897
19008

This makes sense since around 10 players per team are active in any given game.

In [145]:
starting_lineup_encoder.sample(50)

                          Team        date  game_id Location Outcome
64947        SAN_ANTONIO_SPURS  2017-10-23     6615     HOME     WIN
169929       SAN_ANTONIO_SPURS  2017-12-21     7039     AWAY    LOSS
86988         DALLAS_MAVERICKS  2019-02-06     8688     HOME     WIN
195890          INDIANA_PACERS  2019-12-02     9489     AWAY     WIN
55166          DETROIT_PISTONS  2016-12-21     5690     HOME    LOSS
50266          TORONTO_RAPTORS  2016-05-11     5236     HOME     WIN
44579         DALLAS_MAVERICKS  2016-02-05     4702     HOME    LOSS
138753     CLEVELAND_CAVALIERS  2015-11-17     4104     AWAY    LOSS
126958      LOS_ANGELES_LAKERS  2014-12-14     2984     AWAY     WIN
56799        SAN_ANTONIO_SPURS  2017-01-12     5848     HOME     WIN
2788                 UTAH_JAZZ  2013-02-06      732     HOME     WIN
49149            ATLANTA_HAWKS  2016-04-09     5133     HOME     WIN
172726            PHOENIX_SUNS  2018-01-28     7301     AWAY    LOSS
105473     NEW_ORLEANS_HORNETS  2013-03-09      929     AWAY    LOSS
104003              MIAMI_HEAT  2013-02-14      787     AWAY     WIN
159530          DENVER_NUGGETS  2017-02-10     6061     AWAY     WIN
50727     NEW_ORLEANS_PELICANS  2016-10-28     5285     HOME    LOSS
197597          BOSTON_CELTICS  2019-12-25     9648     AWAY     WIN
197930        SACRAMENTO_KINGS  2019-12-29     9680     AWAY    LOSS
105183           BROOKLYN_NETS  2013-03-06      899     AWAY     WIN
85145     LOS_ANGELES_CLIPPERS  2019-01-12     8511     HOME    LOSS
42624          DETROIT_PISTONS  2016-01-12     4514     HOME    LOSS
8237            INDIANA_PACERS  2013-04-24     1243     HOME     WIN
86351        MEMPHIS_GRIZZLIES  2019-01-28     8628     HOME    LOSS
61722            BROOKLYN_NETS  2017-03-21     6311     HOME     WIN
185859         MILWAUKEE_BUCKS  2019-01-16     8541     AWAY     WIN
96147            BROOKLYN_NETS  2019-12-11     9553     HOME    LOSS
199833      WASHINGTON_WIZARDS  2020-01-23     9859     AWAY     WIN
168889          DENVER_NUGGETS  2017-12-08     6939     AWAY     WIN
25906          TORONTO_RAPTORS  2014-12-08     2937     HOME     WIN
85294            BROOKLYN_NETS  2019-01-14     8526     HOME     WIN
28134     LOS_ANGELES_CLIPPERS  2015-01-05     3152     HOME    LOSS
65635       PHILADELPHIA_76ERS  2017-11-01     6676     HOME     WIN
23856            ATLANTA_HAWKS  2014-11-12     2743     HOME     WIN
176908      PHILADELPHIA_76ERS  2018-03-30     7699     AWAY     WIN
43125          TORONTO_RAPTORS  2016-01-18     4565     HOME     WIN
124956            PHOENIX_SUNS  2014-11-19     2798     AWAY     WIN
26064        SAN_ANTONIO_SPURS  2014-12-10     2956     HOME     WIN
33925                UTAH_JAZZ  2015-03-25     3702     HOME    LOSS
191208  MINNESOTA_TIMBERWOLVES  2019-04-03     9053     AWAY     WIN
152850  PORTLAND_TRAIL_BLAZERS  2016-11-17     5431     AWAY    LOSS
59252   MINNESOTA_TIMBERWOLVES  2017-02-12     6076     HOME     WIN
70560        SAN_ANTONIO_SPURS  2018-01-05     7142     HOME     WIN
93548             PHOENIX_SUNS  2019-11-07     9307     HOME    LOSS
29208             PHOENIX_SUNS  2015-01-19     3254     HOME     WIN
133687           BROOKLYN_NETS  2015-03-16     3627     AWAY     WIN
90984           INDIANA_PACERS  2019-04-05     9065     HOME    LOSS
54562        SAN_ANTONIO_SPURS  2016-12-14     5642     HOME     WIN
90658             PHOENIX_SUNS  2019-04-01     9041     HOME     WIN
18134    OKLAHOMA_CITY_THUNDER  2014-03-02     2199     HOME     WIN

In [147]:
team_to_abbr_dict = {'ATLANTA_HAWKS': 'ATL',
 'BOSTON_CELTICS': 'BOS',
 'BROOKLYN_NETS': 'BRK',
 'CHARLOTTE_BOBCATS': 'CHO',
 'CHARLOTTE_HORNETS': 'CHO',
 'CHICAGO_BULLS': 'CHI',
 'CLEVELAND_CAVALIERS': 'CLE',
 'DALLAS_MAVERICKS': 'DAL',
 'DENVER_NUGGETS': 'DEN',
 'DETROIT_PISTONS': 'DET',
 'GOLDEN_STATE_WARRIORS': 'GSW',
 'HOUSTON_ROCKETS': 'HOU',
 'INDIANA_PACERS': 'IND',
 'LOS_ANGELES_CLIPPERS': 'LAC',
 'LOS_ANGELES_LAKERS': 'LAL',
 'MEMPHIS_GRIZZLIES': 'MEM',
 'MIAMI_HEAT': 'MIA',
 'MILWAUKEE_BUCKS': 'MIL',
 'MINNESOTA_TIMBERWOLVES': 'MIN',
 'NEW_ORLEANS_HORNETS': 'NOP',
 'NEW_ORLEANS_PELICANS': 'NOP',
 'NEW_YORK_KNICKS': 'NYK',
 'OKLAHOMA_CITY_THUNDER': 'OKC',
 'ORLANDO_MAGIC': 'ORL',
 'PHILADELPHIA_76ERS': 'PHI',
 'PHOENIX_SUNS': 'PHO',
 'PORTLAND_TRAIL_BLAZERS': 'POR',
 'SACRAMENTO_KINGS': 'SAC',
 'SAN_ANTONIO_SPURS': 'SAS',
 'TORONTO_RAPTORS': 'TOR',
 'UTAH_JAZZ': 'UTA',
 'WASHINGTON_WIZARDS': 'WAS'}

In [134]:
len(starting_lineup_encoder[['Team']].drop_duplicates())

31

In [124]:
starting_lineup_encoder.head()

                  Team        date  game_id Location Outcome
0      NEW_YORK_KNICKS  2013-01-01      459     HOME    LOSS
2   LOS_ANGELES_LAKERS  2013-01-01      462     HOME    LOSS
3  NEW_ORLEANS_HORNETS  2013-01-01      460     HOME    LOSS
5      DETROIT_PISTONS  2013-01-01      458     HOME     WIN
7       DENVER_NUGGETS  2013-01-01      461     HOME     WIN

In [137]:
starting_lineup_encoder.Team = starting_lineup_encoder.Team.apply(lambda x: team_to_abbr_dict[x])
starting_lineup_encoder.head()

  Team        date  game_id Location Outcome
0  NYK  2013-01-01      459     HOME    LOSS
2  LAL  2013-01-01      462     HOME    LOSS
3  NOP  2013-01-01      460     HOME    LOSS
5  DET  2013-01-01      458     HOME     WIN
7  DEN  2013-01-01      461     HOME     WIN

In [126]:
starting_lineups.rename(columns = {'Game Date':'date'}, inplace=True)

In [138]:
starting_lineups.dtypes

Unnamed: 0     int64
date          object
Team          object
Player1       object
Player2       object
Player3       object
Player4       object
Player5       object
dtype: object

In [139]:
encoded_lineup = pd.merge(starting_lineups,starting_lineup_encoder,on=['date','Team'],how='left')
encoded_lineup.sample(20)

,Unnamed: 0,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome
9729,53,2019-02-07,MIN,J. Bayless,T. Gibson,J. Okogie,K. Towns,A. Wiggins,8693.0,AWAY,LOSS
15911,3,2017-10-25,WAS,B. Beal,M. Gortat,K. Oubre,O. Porter,J. Wall,6633.0,AWAY,LOSS
17471,49,2020-02-02,TOR,O. Anunoby,S. Ibaka,K. Lowry,P. Siakam,F. VanVleet,9932.0,HOME,WIN
15355,21,2017-11-30,UTA,D. Favors,J. Ingles,J. Jerebko,D. Mitchell,R. Rubio,6886.0,AWAY,WIN
4109,9,2013-11-19,DET,K. Caldwell-Pope,A. Drummond,B. Jennings,G. Monroe,J. Smith,1471.0,HOME,WIN
11162,10,2015-11-14,ORL,E. Fournier,C. Frye,T. Harris,E. Payton,N. Vučević,4083.0,AWAY,LOSS
16788,16,2019-11-27,MEM,D. Brooks,J. Crowder,J. Jackson,J. Morant,J. Valančiūnas,9453.0,HOME,LOSS
6349,35,2013-01-09,LAC,C. Butler,W. Green,B. Griffin,D. Jordan,C. Paul,525.0,HOME,WIN
308,62,2016-03-05,ATL,K. Bazemore,A. Horford,K. Korver,P. Millsap,J. Teague,4873.0,AWAY,WIN
199,35,2015-01-09,ATL,D. Carroll,A. Horford,K. Korver,P. Millsap,J. Teague,3173.0,AWAY,WIN
8346,64,2016-03-11,MIA,L. Deng,G. Dragić,J. Johnson,A. Stoudemire,D. Wade,4910.0,AWAY,WIN
1352,40,2015-01-17,BRK,B. Bogdanović,K. Garnett,J. Jack,J. Johnson,M. Plumlee,NaN,NaN,NaN
4861,23,2015-12-11,GSW,A. Bogut,I. Clark,S. Curry,D. Green,B. Rush,4280.0,AWAY,WIN
3670,62,2015-03-07,DEN,W. Chandler,K. Faried,R. Foye,D. Gallinari,T. Lawson,3562.0,HOME,LOSS
11391,75,2018-04-01,ORL,D. Augustin,A. Gordon,J. Isaac,W. Iwundu,N. Vučević,7716.0,AWAY,LOSS
14684,6,2016-11-09,TOR,D. Carroll,D. DeRozan,K. Lowry,J. Pöltl,P. Siakam,5372.0,AWAY,WIN
13263,61,2013-03-05,SAC,D. Cousins,T. Evans,J. Salmons,I. Thomas,J. Thompson,898.0,HOME,LOSS
16439,17,2019-12-03,DEN,W. Barton,G. Harris,N. Jokić,P. Millsap,J. Murray,9497.0,HOME,LOSS
7171,37,2016-01-08,LAL,K. Bryant,J. Clarkson,R. Hibbert,L. Nance,L. Williams,4493.0,HOME,LOSS
14071,49,2016-02-05,SAS,L. Aldridge,D. Green,K. Leonard,T. Parker,D. West,4702.0,AWAY,WIN

In [140]:
encoded_lineup.isnull().sum()

Unnamed: 0       0
date             2
Team             0
Player1          2
Player2          2
Player3          2
Player4          2
Player5          2
game_id       2693
Location      2693
Outcome       2693
dtype: int64

In [146]:
encoded_lineup[encoded_lineup.Team=='']

Empty DataFrame
Columns: [Unnamed: 0, date, Team, Player1, Player2, Player3, Player4, Player5, game_id, Location, Outcome]
Index: []

In [118]:
spread_encoder = encoded_schedule[['spread','game_id']].copy()
print(len(spread_encoder))

10422

In [119]:
fully_encoded_lineup = pd.merge(encoded_lineup,spread_encoder,on=['game_id'], how='left')
fully_encoded_lineup.sample(30)

,Unnamed: 0,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome,spread
1552,76,2017-04-02,BRK,R. Foye,R. Hollis-Jefferson,C. LeVert,J. Lin,B. Lopez,NaN,NaN,NaN,NaN
2074,24,2016-12-15,CHI,J. Butler,T. Gibson,R. Lopez,R. Rondo,D. Wade,5643.0,AWAY,LOSS,11.0
11309,75,2017-03-31,ORL,E. Fournier,A. Gordon,E. Payton,T. Ross,N. Vučević,6387.0,AWAY,LOSS,1.0
17790,54,2015-02-25,CHO,G. Henderson,A. Jefferson,M. Kidd-Gilchrist,M. Williams,C. Zeller,NaN,NaN,NaN,NaN
11087,17,2014-11-28,ORL,E. Fournier,C. Frye,T. Harris,V. Oladipo,N. Vučević,2862.0,AWAY,LOSS,15.0
13822,46,2013-01-26,SAS,B. Diaw,D. Green,K. Leonard,T. Parker,T. Splitter,647.0,HOME,WIN,9.0
14057,35,2016-01-04,SAS,L. Aldridge,T. Duncan,D. Green,K. Leonard,P. Mills,4460.0,AWAY,WIN,25.0
9630,36,2017-12-31,MIN,J. Butler,T. Gibson,T. Jones,K. Towns,A. Wiggins,7107.0,AWAY,WIN,17.0
10659,81,2016-04-12,OKC,S. Adams,N. Collison,C. Payne,A. Roberson,D. Waiters,5159.0,AWAY,LOSS,4.0
9433,3,2015-11-05,MIN,K. Garnett,T. Prince,R. Rubio,K. Towns,A. Wiggins,4015.0,HOME,LOSS,12.0
11812,4,2016-11-05,PHI,R. Covington,J. Embiid,G. Henderson,S. Rodríguez,D. Šarić,5343.0,HOME,LOSS,1.0
786,48,2015-02-06,BOS,B. Bass,A. Bradley,M. Smart,J. Sullinger,E. Turner,3377.0,HOME,WIN,4.0
18220,74,2013-04-03,NOP,A. Aminu,A. Davis,E. Gordon,R. Lopez,G. Vásquez,1121.0,AWAY,LOSS,10.0
16658,36,2020-01-06,IND,A. Holiday,J. Lamb,D. Sabonis,M. Turner,T. Warren,9732.0,AWAY,WIN,11.0
14868,26,2018-12-07,TOR,D. Green,K. Leonard,K. Lowry,P. Siakam,J. Valančiūnas,8252.0,AWAY,LOSS,1.0
1633,75,2018-03-31,BRK,J. Allen,D. Carroll,A. Crabbe,R. Hollis-Jefferson,D. Russell,NaN,NaN,NaN,NaN
16500,28,2019-12-20,DET,B. Brown,A. Drummond,M. Morris,S. Mykhailiuk,T. Snell,9615.0,AWAY,LOSS,21.0
6186,36,2017-12-31,IND,B. Bogdanović,D. Collison,L. Stephenson,M. Turner,T. Young,7107.0,HOME,LOSS,17.0
4413,67,2017-03-15,DET,K. Caldwell-Pope,A. Drummond,R. Jackson,J. Leuer,M. Morris,6266.0,HOME,LOSS,14.0
1154,6,2012-11-15,BRK,K. Bogans,K. Humphries,J. Johnson,B. Lopez,D. Williams,NaN,NaN,NaN,NaN
8338,56,2016-02-24,MIA,L. Deng,G. Dragić,A. Stoudemire,D. Wade,J. Winslow,4792.0,HOME,LOSS,6.0
11363,47,2018-01-27,ORL,B. Biyombo,E. Fournier,A. Gordon,E. Payton,J. Simmons,7294.0,AWAY,LOSS,2.0
8546,18,2018-11-25,MIA,W. Ellington,J. Johnson,R. McGruder,J. Richardson,H. Whiteside,8172.0,AWAY,LOSS,10.0
579,5,2012-11-10,BOS,B. Bass,K. Garnett,P. Pierce,R. Rondo,J. Terry,NaN,NaN,NaN,NaN
15829,3,2016-11-04,WAS,B. Beal,M. Gortat,M. Morris,O. Porter,J. Wall,5330.0,HOME,WIN,3.0
5661,3,2018-10-24,HOU,C. Capela,M. Carter-Williams,E. Gordon,J. Harden,P. Tucker,7938.0,HOME,LOSS,11.0
9316,50,2014-02-08,MIN,C. Brewer,C. Budinger,D. Cunningham,R. Rubio,R. Turiaf,2064.0,HOME,LOSS,7.0
15973,65,2018-03-09,WAS,B. Beal,M. Gortat,M. Morris,O. Porter,T. Satoranský,7550.0,AWAY,WIN,19.0
9127,25,2018-12-10,MIL,E. Bledsoe,M. Brogdon,E. İlyasova,B. Lopez,K. Middleton,8276.0,HOME,WIN,16.0
11572,10,2013-11-16,PHI,J. Anderson,S. Hawes,E. Turner,T. Wroten,T. Young,1457.0,AWAY,LOSS,37.0