# **Encode Box Scores with Unique Game ID**

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import sys
sys.path.append('../Scripts')

### Import Scripts

In [17]:
import box_score_functions as bfx
import scheduling_functions as sfx
import data_cleaner as dfx
import checking_functions as cfx

### Import Files

In [18]:
all_box_scores = pd.read_csv('../Resources/2013-2020.csv')
all_games = pd.read_csv('../Resources/game_schedule_13-current.csv')

## **Clean up Box Scores**

In [4]:
cleaned_box_scores = bfx.get_cleaned_box_scores(all_box_scores)
cleaned_box_scores.head(2)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,14.0,2.0,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,0.0,2.0,11.0,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01

## **Define 'AWAY' and 'HOME' dataframes**

In [13]:
away_box_scores = cleaned_box_scores[cleaned_box_scores.Location =='AWAY'].copy()
away_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date
1,smithjo03,Josh Smith,ATLANTA_HAWKS,AWAY,NEW_ORLEANS_HORNETS,WIN,2234.0,11.0,20.0,1.0,...,0.0,2.0,11.0,7.0,3.0,4.0,1.0,2.0,27.0,2013-01-01
2,holidjr01,Jrue Holiday,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2352.0,10.0,19.0,2.0,...,4.0,0.0,2.0,10.0,2.0,0.0,1.0,1.0,24.9,2013-01-01
4,turneev01,Evan Turner,PHILADELPHIA_76ERS,AWAY,LOS_ANGELES_LAKERS,WIN,2455.0,8.0,14.0,2.0,...,7.0,1.0,12.0,5.0,2.0,1.0,1.0,1.0,23.3,2013-01-01

In [15]:
home_box_scores = cleaned_box_scores[cleaned_box_scores.Location =='HOME'].copy()
home_box_scores.head(3)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,14.0,2.0,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01
3,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,4.0,...,6.0,3.0,8.0,5.0,3.0,0.0,2.0,2.0,24.0,2013-01-01
6,bryanko01,Kobe Bryant,LOS_ANGELES_LAKERS,HOME,PHILADELPHIA_76ERS,LOSS,2545.0,14.0,29.0,1.0,...,10.0,4.0,2.0,0.0,1.0,0.0,3.0,2.0,20.7,2013-01-01

In [19]:
cfx.verify_entries(home_box_scores,away_box_scores,cleaned_box_scores)

200897 = 100515 + 100382
No Data Loss

## **Clean Up Schedules**

In [5]:
encoded_schedule = sfx.get_encoded_schedule(all_games)
encoded_schedule.head(2)

,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84,94,1,10
1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107,120,2,13

In [6]:
dfx.string_strip(encoded_schedule, 'date1')
dfx.string_strip(encoded_schedule, 'date2')
dfx.string_strip(encoded_schedule, 'away')
dfx.string_strip(encoded_schedule, 'home')

,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84,94,1,10
1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107,120,2,13

In [46]:
encoded_schedule.to_csv('../Resources/encoded_schedule.csv')

## **Make Encoders**

In [7]:
away_date1_encoder = encoded_schedule[['date1','away','home','game_id','spread']].copy()
away_date2_encoder = encoded_schedule[['date2','away','home','game_id','spread']].copy()
home_date1_encoder = encoded_schedule[['date1','away','home','game_id','spread']].copy()
home_date2_encoder = encoded_schedule[['date2','away','home','game_id','spread']].copy()

In [9]:
away_date1_encoder_cols = ['date','Team','Opponent','game_id1','spread1']
away_date2_encoder_cols = ['date','Team','Opponent','game_id2','spread2']
home_date1_encoder_cols = ['date','Opponent','Team','game_id1','spread1']
home_date2_encoder_cols = ['date','Opponent','Team','game_id2','spread2']

In [10]:
away_date1_encoder.columns = away_date1_encoder_cols
away_date2_encoder.columns = away_date2_encoder_cols
home_date1_encoder.columns = home_date1_encoder_cols
home_date2_encoder.columns = home_date2_encoder_cols

## **Home Game Joins**

In [20]:
home_half_join = pd.merge(home_box_scores,home_date1_encoder,on=['date','Team','Opponent'],how='left')
home_half_join.sample(5)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1
77004,onealro01,Royce O'Neale,UTAH_JAZZ,HOME,LOS_ANGELES_CLIPPERS,WIN,1906.0,3.0,5.0,1.0,...,5.0,3.0,0.0,0.0,1.0,1.0,7.5,2018-04-05,NaN,NaN
56553,ingrabr01,Brandon Ingram,LOS_ANGELES_LAKERS,HOME,ORLANDO_MAGIC,WIN,1606.0,6.0,9.0,2.0,...,3.0,2.0,0.0,1.0,3.0,2.0,11.9,2017-01-08,NaN,NaN
27415,curryst01,Stephen Curry,GOLDEN_STATE_WARRIORS,HOME,MINNESOTA_TIMBERWOLVES,WIN,1832.0,9.0,18.0,4.0,...,2.0,6.0,3.0,0.0,3.0,3.0,19.9,2014-12-27,NaN,NaN
10115,anthojo01,Joel Anthony,MIAMI_HEAT,HOME,MILWAUKEE_BUCKS,WIN,326.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2.7,2013-11-12,NaN,NaN
20721,millspa01,Paul Millsap,ATLANTA_HAWKS,HOME,CLEVELAND_CAVALIERS,WIN,1664.0,7.0,10.0,1.0,...,11.0,6.0,0.0,0.0,2.0,3.0,15.7,2014-04-04,2444,19.0

In [22]:
home_encoded = pd.merge(home_half_join,home_date2_encoder, on=['date','Team','Opponent'],how='left')
home_encoded.sample(5)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1,game_id2,spread2
19043,roberan03,Andre Roberson,OKLAHOMA_CITY_THUNDER,HOME,LOS_ANGELES_LAKERS,WIN,1447.0,3.0,6.0,0.0,...,1.0,0.0,1.0,4.0,6.3,2014-03-13,NaN,NaN,2282,29.0
100112,caulewi01,Willie Cauley-Stein,DALLAS_MAVERICKS,HOME,ATLANTA_HAWKS,WIN,1554.0,3.0,8.0,0.0,...,1.0,2.0,1.0,0.0,8.5,2020-02-01,NaN,NaN,9925,23.0
74637,netora01,Raul Neto,UTAH_JAZZ,HOME,ORLANDO_MAGIC,WIN,392.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,2.3,2018-03-05,NaN,NaN,7523,14.0
20556,bealbr01,Bradley Beal,WASHINGTON_WIZARDS,HOME,BOSTON_CELTICS,WIN,1877.0,7.0,8.0,1.0,...,1.0,0.0,3.0,3.0,15.0,2014-04-02,2431,26.0,NaN,NaN
85726,jacksre01,Reggie Jackson,DETROIT_PISTONS,HOME,SACRAMENTO_KINGS,LOSS,1727.0,1.0,5.0,1.0,...,2.0,0.0,0.0,4.0,4.0,2019-01-19,NaN,NaN,8561,2.0

In [24]:
home_encoded.isnull().sum()

slug                                     0
name                                     0
Team                                     0
Location                                 0
Opponent                                 0
Outcome                                  0
seconds_played                           0
made_field_goals                         0
attempted_field_goals                    0
made_three_point_field_goals             0
attempted_three_point_field_goals        0
made_free_throws                         0
attempted_free_throws                    0
offensive_rebounds                       0
defensive_rebounds                       0
assists                                  0
steals                                   0
blocks                                   0
turnovers                                0
personal_fouls                           0
game_score                               0
date                                     0
game_id1                             80308
spread1                              80308
game_id2                             20207
spread2                              20207
dtype: int64

In [31]:
len(home_encoded)

100515

## **Away Game Joins**

In [27]:
away_half_join = pd.merge(away_box_scores,away_date1_encoder, on=['date','Team','Opponent'],how='left')
away_half_join.sample(5)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1
88131,osmande01,Cedi Osman,CLEVELAND_CAVALIERS,AWAY,NEW_YORK_KNICKS,WIN,1892.0,7.0,10.0,3.0,...,6.0,5.0,1.0,2.0,2.0,1.0,22.8,2019-02-28,NaN,NaN
13290,willima02,Marvin Williams,UTAH_JAZZ,AWAY,MEMPHIS_GRIZZLIES,LOSS,1705.0,3.0,7.0,2.0,...,2.0,1.0,0.0,1.0,2.0,2.0,4.2,2013-12-23,NaN,NaN
49029,ellismo01,Monta Ellis,INDIANA_PACERS,AWAY,TORONTO_RAPTORS,LOSS,1726.0,7.0,14.0,0.0,...,2.0,4.0,1.0,0.0,0.0,3.0,13.5,2016-04-08,5127,13.0
62728,dunlemi02,Mike Dunleavy,ATLANTA_HAWKS,AWAY,BROOKLYN_NETS,LOSS,697.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,-0.1,2017-04-02,6406,9.0
45316,randlju01,Julius Randle,LOS_ANGELES_LAKERS,AWAY,CHICAGO_BULLS,LOSS,1931.0,10.0,19.0,0.0,...,8.0,0.0,0.0,0.0,1.0,4.0,14.9,2016-02-21,NaN,NaN

In [28]:
away_encoded = pd.merge(away_half_join,away_date2_encoder, on=['date','Team','Opponent'],how='left')
away_encoded.sample(5)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1,game_id2,spread2
40289,smithjo03,Josh Smith,LOS_ANGELES_CLIPPERS,AWAY,BROOKLYN_NETS,WIN,731.0,3.0,9.0,0.0,...,2.0,0.0,1.0,2.0,3.4,2015-12-12,4288,5.0,NaN,NaN
6243,anthojo01,Joel Anthony,MIAMI_HEAT,AWAY,ORLANDO_MAGIC,WIN,108.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.3,2013-03-25,1049,14.0,NaN,NaN
46714,johnswe01,Wesley Johnson,LOS_ANGELES_CLIPPERS,AWAY,OKLAHOMA_CITY_THUNDER,LOSS,1419.0,1.0,6.0,0.0,...,0.0,0.0,0.0,3.0,-0.7,2016-03-09,NaN,NaN,4900,12.0
91050,fergute01,Terrance Ferguson,OKLAHOMA_CITY_THUNDER,AWAY,MINNESOTA_TIMBERWOLVES,WIN,1544.0,4.0,5.0,2.0,...,0.0,0.0,0.0,3.0,10.9,2019-04-07,9078,6.0,NaN,NaN
56736,jefferi01,Richard Jefferson,CLEVELAND_CAVALIERS,AWAY,PORTLAND_TRAIL_BLAZERS,LOSS,803.0,1.0,2.0,0.0,...,0.0,0.0,0.0,3.0,1.1,2017-01-11,NaN,NaN,5844,16.0

In [29]:
away_encoded.isnull().sum()

slug                                     0
name                                     0
Team                                     0
Location                                 0
Opponent                                 0
Outcome                                  0
seconds_played                           0
made_field_goals                         0
attempted_field_goals                    0
made_three_point_field_goals             0
attempted_three_point_field_goals        0
made_free_throws                         0
attempted_free_throws                    0
offensive_rebounds                       0
defensive_rebounds                       0
assists                                  0
steals                                   0
blocks                                   0
turnovers                                0
personal_fouls                           0
game_score                               0
date                                     0
game_id1                             80237
spread1                              80237
game_id2                             20145
spread2                              20145
dtype: int64

In [30]:
len(away_box_scores)

100382

## **Combine AWAY and HOME encoded dataframes**

In [32]:
encoded_box_scores = pd.concat([home_encoded,away_encoded],axis='rows',join='inner')
encoded_box_scores.sample(10)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1,game_id2,spread2
94129,jamesle01,LeBron James,LOS_ANGELES_LAKERS,HOME,SACRAMENTO_KINGS,WIN,2320.0,10.0,20.0,2.0,...,3.0,0.0,2.0,1.0,29.7,2019-11-15,NaN,NaN,9367,2.0
53919,rosede01,Derrick Rose,NEW_YORK_KNICKS,AWAY,MIAMI_HEAT,WIN,1495.0,4.0,12.0,0.0,...,2.0,0.0,1.0,0.0,7.3,2016-12-06,NaN,NaN,5576,11.0
86392,cabocbr01,Bruno Caboclo,MEMPHIS_GRIZZLIES,HOME,DENVER_NUGGETS,LOSS,1382.0,1.0,6.0,1.0,...,0.0,0.0,0.0,3.0,1.9,2019-01-28,NaN,NaN,8628,3.0
80939,biyombi01,Bismack Biyombo,CHARLOTTE_HORNETS,HOME,PHILADELPHIA_76ERS,LOSS,287.0,1.0,2.0,0.0,...,0.0,0.0,0.0,2.0,0.2,2018-11-17,NaN,NaN,8106,3.0
99432,mclembe01,Ben McLemore,HOUSTON_ROCKETS,HOME,DENVER_NUGGETS,WIN,1056.0,1.0,3.0,0.0,...,0.0,0.0,2.0,1.0,-1.1,2020-01-22,NaN,NaN,9855,16.0
78281,cookqu01,Quinn Cook,GOLDEN_STATE_WARRIORS,AWAY,HOUSTON_ROCKETS,WIN,87.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,-0.4,2018-05-28,NaN,NaN,7877,9.0
50999,couside01,DeMarcus Cousins,SACRAMENTO_KINGS,AWAY,ATLANTA_HAWKS,LOSS,1903.0,6.0,16.0,1.0,...,0.0,1.0,4.0,5.0,4.2,2016-10-31,5302,11.0,NaN,NaN
85602,clarkjo01,Jordan Clarkson,CLEVELAND_CAVALIERS,AWAY,DENVER_NUGGETS,LOSS,1407.0,5.0,12.0,3.0,...,0.0,0.0,0.0,0.0,8.9,2019-01-19,NaN,NaN,8568,22.0
27790,prigipa01,Pablo Prigioni,NEW_YORK_KNICKS,AWAY,LOS_ANGELES_CLIPPERS,LOSS,1726.0,3.0,6.0,1.0,...,1.0,0.0,1.0,1.0,8.8,2014-12-31,3110,21.0,NaN,NaN
72006,dienggo01,Gorgui Dieng,MINNESOTA_TIMBERWOLVES,AWAY,GOLDEN_STATE_WARRIORS,LOSS,743.0,3.0,7.0,0.0,...,1.0,0.0,0.0,1.0,7.1,2018-01-25,NaN,NaN,7282,13.0

## **Get final game_id & spread**

In [35]:
encoded_box_scores.game_id1 = encoded_box_scores.game_id1.astype('int')
encoded_box_scores.game_id2 = encoded_box_scores.game_id2.astype('int')
encoded_box_scores.spread1 = encoded_box_scores.spread1.astype('int')
encoded_box_scores.spread2 = encoded_box_scores.spread2.astype('int')

In [36]:
encoded_box_scores.fillna(0, inplace=True)
encoded_box_scores.head(2)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,steals,blocks,turnovers,personal_fouls,game_score,date,game_id1,spread1,game_id2,spread2
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,1.0,0.0,2.0,3.0,36.5,2013-01-01,0,0,459,5
1,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,4.0,...,3.0,0.0,2.0,2.0,24.0,2013-01-01,0,0,459,5

In [37]:
encoded_box_scores['game_id']=encoded_box_scores.game_id1+encoded_box_scores.game_id2
encoded_box_scores['spread']=encoded_box_scores.spread1+encoded_box_scores.spread2
encoded_box_scores.sample(10)

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,turnovers,personal_fouls,game_score,date,game_id1,spread1,game_id2,spread2,game_id,spread
21520,williel01,Elliot Williams,PHILADELPHIA_76ERS,HOME,BOSTON_CELTICS,WIN,1478.0,4.0,5.0,0.0,...,0.0,0.0,8.3,2014-04-14,2518,5,0,0,2518,5
98993,netora01,Raul Neto,PHILADELPHIA_76ERS,HOME,CHICAGO_BULLS,WIN,849.0,1.0,3.0,0.0,...,0.0,0.0,3.7,2020-01-17,0,0,9813,11,9813,11
83413,onealro01,Royce O'Neale,UTAH_JAZZ,HOME,GOLDEN_STATE_WARRIORS,WIN,452.0,0.0,3.0,0.0,...,0.0,1.0,-1.5,2018-12-19,0,0,8345,5,8345,5
8796,splitti01,Tiago Splitter,SAN_ANTONIO_SPURS,HOME,MEMPHIS_GRIZZLIES,WIN,1004.0,0.0,1.0,0.0,...,1.0,4.0,-1.3,2013-05-19,1297,22,0,0,1297,22
21997,linje01,Jeremy Lin,HOUSTON_ROCKETS,AWAY,PORTLAND_TRAIL_BLAZERS,WIN,2004.0,5.0,11.0,1.0,...,1.0,3.0,10.9,2014-04-25,0,0,2566,5,2566,5
62972,bullore01,Reggie Bullock,DETROIT_PISTONS,HOME,TORONTO_RAPTORS,LOSS,1351.0,3.0,5.0,1.0,...,1.0,1.0,6.0,2017-04-05,6426,3,0,0,6426,3
46461,harriga01,Gary Harris,DENVER_NUGGETS,HOME,DALLAS_MAVERICKS,WIN,2610.0,7.0,13.0,1.0,...,2.0,0.0,13.1,2016-03-06,4877,2,0,0,4877,2
43360,batumni01,Nicolas Batum,CHARLOTTE_HORNETS,AWAY,OKLAHOMA_CITY_THUNDER,LOSS,1424.0,0.0,4.0,0.0,...,3.0,1.0,-2.3,2016-01-20,0,0,4580,14,4580,14
46485,millemi01,Mike Miller,DENVER_NUGGETS,HOME,DALLAS_MAVERICKS,WIN,521.0,1.0,2.0,1.0,...,0.0,1.0,4.0,2016-03-06,4877,2,0,0,4877,2
42635,adamsst01,Steven Adams,OKLAHOMA_CITY_THUNDER,AWAY,MINNESOTA_TIMBERWOLVES,WIN,1688.0,3.0,3.0,0.0,...,1.0,0.0,9.1,2016-01-12,0,0,4518,5,4518,5

In [38]:
encoded_box_scores.drop(columns=['game_id1','game_id2','spread1','spread2'], inplace=True)

In [39]:
encoded_box_scores.head()

,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id,spread
0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,5.0,...,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,459,5
1,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,4.0,...,8.0,5.0,3.0,0.0,2.0,2.0,24.0,2013-01-01,459,5
2,bryanko01,Kobe Bryant,LOS_ANGELES_LAKERS,HOME,PHILADELPHIA_76ERS,LOSS,2545.0,14.0,29.0,1.0,...,2.0,0.0,1.0,0.0,3.0,2.0,20.7,2013-01-01,462,4
3,anderry01,Ryan Anderson,NEW_ORLEANS_HORNETS,HOME,ATLANTA_HAWKS,LOSS,1928.0,9.0,15.0,5.0,...,3.0,0.0,0.0,0.0,0.0,2.0,18.3,2013-01-01,460,9
4,vasqugr01,Greivis VÃ¡squez,NEW_ORLEANS_HORNETS,HOME,ATLANTA_HAWKS,LOSS,2317.0,7.0,15.0,1.0,...,8.0,10.0,0.0,1.0,2.0,1.0,16.9,2013-01-01,460,9

## **Check the Joins**

In [44]:
len(encoded_box_scores)

200897

This matches the length of the original dataframe ```cleaned_box_scores```

In [40]:
encoded_box_scores[encoded_box_scores.game_id==0]

Empty DataFrame
Columns: [slug, name, Team, Location, Opponent, Outcome, seconds_played, made_field_goals, attempted_field_goals, made_three_point_field_goals, attempted_three_point_field_goals, made_free_throws, attempted_free_throws, offensive_rebounds, defensive_rebounds, assists, steals, blocks, turnovers, personal_fouls, game_score, date, game_id, spread]
Index: []

[0 rows x 24 columns]

In [41]:
encoded_box_scores[encoded_box_scores.spread==0]

Empty DataFrame
Columns: [slug, name, Team, Location, Opponent, Outcome, seconds_played, made_field_goals, attempted_field_goals, made_three_point_field_goals, attempted_three_point_field_goals, made_free_throws, attempted_free_throws, offensive_rebounds, defensive_rebounds, assists, steals, blocks, turnovers, personal_fouls, game_score, date, game_id, spread]
Index: []

[0 rows x 24 columns]

Each slice returned ```0``` entries, which means that every box score was encoded with a ```game_id``` and ```spread```.

In [42]:
encoded_box_scores.to_csv('../Resources/encoded_box_scores.csv')