## Get Season Schedules

In [6]:
from basketball_reference_web_scraper import client
import pandas as pd

In [2]:
def season_schedule(year):
    df = pd.DataFrame(client.season_schedule(season_end_year=year))
    return df

In [3]:
last_8_seasons = pd.concat([season_schedule(year) for year in range(2013,2021)],
                          axis = 'rows',
                          join = 'inner')

In [4]:
last_8_seasons.head()

,start_time,away_team,home_team,away_team_score,home_team_score
0,2012-10-30 23:00:00+00:00,Team.WASHINGTON_WIZARDS,Team.CLEVELAND_CAVALIERS,84.0,94.0
1,2012-10-31 00:00:00+00:00,Team.BOSTON_CELTICS,Team.MIAMI_HEAT,107.0,120.0
2,2012-10-31 02:30:00+00:00,Team.DALLAS_MAVERICKS,Team.LOS_ANGELES_LAKERS,99.0,91.0
3,2012-10-31 23:00:00+00:00,Team.INDIANA_PACERS,Team.TORONTO_RAPTORS,90.0,88.0
4,2012-10-31 23:00:00+00:00,Team.DENVER_NUGGETS,Team.PHILADELPHIA_76ERS,75.0,84.0

In [5]:
last_8_seasons.tail()

,start_time,away_team,home_team,away_team_score,home_team_score
1224,2020-04-15 23:30:00+00:00,Team.NEW_ORLEANS_PELICANS,Team.SAN_ANTONIO_SPURS,NaN,NaN
1225,2020-04-15 23:30:00+00:00,Team.INDIANA_PACERS,Team.WASHINGTON_WIZARDS,NaN,NaN
1226,2020-04-16 02:00:00+00:00,Team.LOS_ANGELES_LAKERS,Team.PHOENIX_SUNS,NaN,NaN
1227,2020-04-16 02:00:00+00:00,Team.LOS_ANGELES_CLIPPERS,Team.PORTLAND_TRAIL_BLAZERS,NaN,NaN
1228,2020-04-16 02:00:00+00:00,Team.GOLDEN_STATE_WARRIORS,Team.SACRAMENTO_KINGS,NaN,NaN

In [21]:
# check for nulls
last_8_seasons.isnull().mean()

start_time         0.000000
away_team          0.000000
home_team          0.000000
away_team_score    0.044329
home_team_score    0.044329
dtype: float64

### Makes sense, since half of the current season should not have any scores.

In [11]:
# check to see if the scores make sense
last_8_seasons.describe()

       away_team_score  home_team_score
count      9960.000000      9960.000000
mean        102.658133       105.419779
std          12.782897        12.730383
min          58.000000        62.000000
25%          94.000000        97.000000
50%         102.000000       105.000000
75%         111.000000       114.000000
max         168.000000       161.000000

### Max score of 168 seems suspect...

In [10]:
# verify that the high scores are not All-Stars Games
last_8_seasons[last_8_seasons.away_team_score>145]

,start_time,away_team,home_team,away_team_score,home_team_score
389,2015-12-19 01:00:00+00:00,Team.DETROIT_PISTONS,Team.CHICAGO_BULLS,147.0,144.0
673,2018-01-20 20:30:00+00:00,Team.OKLAHOMA_CITY_THUNDER,Team.CLEVELAND_CAVALIERS,148.0,124.0
90,2018-10-30 00:00:00+00:00,Team.GOLDEN_STATE_WARRIORS,Team.CHICAGO_BULLS,149.0,124.0
113,2018-11-01 23:30:00+00:00,Team.SACRAMENTO_KINGS,Team.ATLANTA_HAWKS,146.0,115.0
479,2018-12-23 00:00:00+00:00,Team.PHOENIX_SUNS,Team.WASHINGTON_WIZARDS,146.0,149.0
618,2019-01-11 02:30:00+00:00,Team.OKLAHOMA_CITY_THUNDER,Team.SAN_ANTONIO_SPURS,147.0,154.0
852,2019-02-14 00:00:00+00:00,Team.BROOKLYN_NETS,Team.CLEVELAND_CAVALIERS,148.0,139.0
880,2019-02-23 02:30:00+00:00,Team.UTAH_JAZZ,Team.OKLAHOMA_CITY_THUNDER,147.0,148.0
927,2019-03-02 00:30:00+00:00,Team.CHICAGO_BULLS,Team.ATLANTA_HAWKS,168.0,161.0
61,2019-10-31 00:00:00+00:00,Team.HOUSTON_ROCKETS,Team.WASHINGTON_WIZARDS,159.0,158.0

### Surprisingly, these are all regular season games

In [23]:
last_8_seasons.to_csv('../Resources/game_schedule_13-current.csv')